ul {
  list-style-type: none;
}

#container {
display: flex;
flex-direction: column;
}

.detail--column {
    flex-basis: 24%;
    margin: 0 2rem;
    margin-top: 50px;
    border: 1px dotted white;
}

#ship-name {
  display: flex;
  flex-direction: row;
  background-color: white;
}

.assignments {
  padding: 1rem 5rem;
}